nav {
  background-color: #8080d6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23cdcde8' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  z-index: 10;
  height: calc(--nav-height);
}

nav > button {
  min-width: 60px;
  min-height: 60px;
  color: white;
  background: rgb(100, 173, 112);
  border-radius: 15px;
  border: none;
  font-size: 2em;
  box-shadow: 0 5px 5px #33333350;
  cursor: pointer;
  transition: .1s;
  border: 1px rgb(116, 194, 129) solid;
}

nav > button:hover {
  background: rgb(95, 151, 104);
  border: 1px rgb(112, 170, 121) solid;
}

nav > button:active {
  box-shadow: none;
  transform: scale(0.95);
}

nav > h1 {
  color: white;
  font-size: 2.5em;
  font-family: 'Special Gothic Expanded One', Arial, Helvetica, sans-serif;
  user-select: none;
}