.sidePanel {
  /* background: rgb(180, 180, 214); */
  background-color: #b4b4d6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23646479' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  width: 260px;
  padding: 15px;
  box-shadow: 2px 0 5px #33333349;
}

.apiList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
}

.apiList > li {
  background: #b9b9d8;
  padding: 7px 12px;
  border-radius: 5px;
  color: #333;
  box-shadow: 0 2px 5px #33333310;
  font-style: italic;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;
  border: #c7c7e4 1px solid;
  transition: .05s;
}

.apiList > li:hover {
  background: #c7c7e4;
}

.apiList > li:active {
  transform: translateY(2px);
  box-shadow: none;
}

.apiList > li.selected {
  font-weight: bold;
}